<section class="option-section">
    <video 
    src="https://cdn.videvo.net/videvo_files/video/free/2018-01/large_watermarked/171124_H1_005_preview.mp4" 
    autoplay="true"
    muted="true"
    loop="true">
    </video>
    <h1>Sport-X</h1>
    <div class="card">
        <a [routerLink]="['lista-pqrs']">
            <div class="card-body">
                <h5 class="card-title">PQR</h5>
                <p class="card-text">
                    Aquí podrás visualizar los pqr existentes, 
                    crear pqrs o eliminar uno en específico.
                </p>
            </div>
        </a>
      </div>
</section>