video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.option-section {
    width: 100%;
    background-color: #3333337d;
    color: #fff;
    height: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.card {
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 2px 4px 7px rgb(0 0 0 / 15%);
    max-width: 400px;
    min-width: 200px;
    background-color: rgb(198, 231, 231);
    color: black;
    margin: 0 auto;
    cursor: pointer;
    height: auto;
    padding-bottom: 2rem;

    .card-title {
        font-size: 2rem;
        color: darkcyan;
        margin: 2rem 0;
    }
}

.card:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: darkcyan !important;
    }
}