.dialog {
    background-color: aliceblue;
    padding: 3rem 1rem 1rem 1rem;
}

.form-control {
    border-radius: 5px;
    border: 3px solid darkcyan;
    width: 100%;
}

.cancel {
    margin-left: 1rem;
}

.close {
    top: 0;
    right: 0;
    margin-top: 2px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

select {
    appearance: none;
}