<section class="dialog">
    <div type="button"
        class="close position-absolute"
        (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="ni">Número de documento*</label>
                <br>
                <input class="form-control" type="text" name="ni" id="ni" formControlName="ni" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">                
                <label for="type_doc">Tipo de documento*</label>
                <br>
                <select class="form-control" name="type_doc" id="type_doc" formControlName="type_doc" required>
                    <option value="0">Cédula de cuidadanía</option>
                    <option value="1">Cédula de extrangería</option>
                    <option value="2">Tarjeta de identidad</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">                
                <label for="name">Nombre del cliente*</label>
                <br>
                <input class="form-control" type="text" name="name" id="name" formControlName="name" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="last_name">Apellido del cliente*</label>
                <br>
                <input class="form-control" type="text" name="last_name" id="last_name" formControlName="last_name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="cellphone">Número de celular del cliente*</label>
                <br>
                <input class="form-control" type="text" name="cellphone" id="cellphone" formControlName="cellphone" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">            
                <label for="phone">Teléfono fijo del cliente*</label>
                <br>
                <input class="form-control" type="text" name="phone" id="phone" formControlName="phone" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">                
                <label for="email">Email del cliente*</label>
                <br>
                <input class="form-control" type="text" name="email" id="email" formControlName="email" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">                
                <label for="title">Título del PQR*</label>
                <br>
                <input class="form-control" type="text" name="title" id="title" formControlName="title" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">                
                <label for="type_ticket">Tipo de Ticket*</label>
                <br>
                <select class="form-control" name="type_ticket" id="type_ticket" formControlName="type_ticket" required>
                    <option value="0">Petición</option>
                    <option value="1">Queja</option>
                    <option value="2">Reclamo</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="description">Descripción/Contenido del ticket*</label>
                <br>
                <textarea
                class="form-control"
                name="description" id="description"
                rows="5" formControlName="description"
                required>
                </textarea>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center p-2">
            <button class="btn btn-info" type="submit" [disabled]="form.invalid">Crear</button>
            <button type="button" class="btn btn-secondary cancel" (click)="onClose()">
                Cancelar
            </button>
        </div>
    </form>
</section>
