.ticket-section {
    background-color: aliceblue;
    text-align: left;
    padding: 1rem;

    h1 {
        color: darkcyan;
        text-align: center;
    }
}

strong {
    font-weight: 700;
}

.close {
    top: 0;
    right: 0;
    margin-top: 2px;
    font-size: 1.5rem;
    margin-right: 1rem;
}