<section class="ticket-section">
    <div type="button"
        class="close position-absolute"
        (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
    </div>
    <h1>Información del ticket {{ ticketId }}</h1>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Ticket ID: </strong>{{ ticket?.id }}</label><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Documento: </strong>{{ identificationTypes[ticket?.type_doc] }} {{ ticket?.ni }}</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Cliente: </strong>{{ ticket?.name }} {{ ticket?.last_name }}</label><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Teléfono fijo: </strong>{{ ticket?.phone }}</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Celular: </strong>{{ ticket?.cellphone }}</label><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Email: </strong>{{ ticket?.email }}</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Título del ticket: </strong>{{ ticket?.title }}</label><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Tipo de ticket: </strong>{{ ticket_types[ticket?.type_ticket] }}</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Estado: </strong>{{ state[ticket?.state] }}</label><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label><strong>Fecha de creación: </strong>{{ ticket?.created_at | date: 'dd/MM/yyyy h:mm a' }}</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label><strong>Descripción: </strong>{{ ticket?.description }}</label><br>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center p-2">
        <button type="button" class="btn btn-secondary back" (click)="onBack()">
            Volver
        </button>
    </div>
</section>
