.table-section {
    width: 80%;
    margin: 1rem auto;
}

.thead-dark {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table td, .table th {
    height: fit-content;
    vertical-align: top;
}

th {
    text-align: inherit;
    width: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.create-pqr {
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}

.delete {
    color: red;
}

.eye {
    color: darkcyan;
    padding-right: 1rem;
}

.go-back {
    padding-left: 5rem;
    padding-top: 1rem
}